@CHARSET "UTF-8";

#midcolumn {
	width: 640px;
	padding: 0 10px 10px 10px;
	margin-left: 20px;
}

#rightcolumn {
	width: 260px;
}

h1 {
	padding-top: 10px;
}

h1, h2, h3 {
	text-align: center;
}

h3 {
	clear: both;
	border-bottom: medium none;
}

a {
	color: #002E62;
	text-decoration: none;
}

a:hover {
	color: #0093CF;
	text-decoration: none;
}

a strong {
	text-decoration: underline;
}

#novaContent {
	background-color: #FFFFFF;
}

#content-header {
	width: 100%;
	margin-bottom: 20px;
	background-color: #E3F4FF; 
}

#content-header-logo {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top: 20px;
	text-align: center;
	width: 345px;
}

#content-footer-logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
	text-align: center;
	width: 120px;
}

.section {
	clear: both;
}

.section p.left {
	width: 48%;
	float: left;
}

.section p.right {
	width: 48%;
	float: right;
}

.sideitem p {
	margin-bottom: 0px;
}

#novaContent li {
	list-style-image:url("/gemini/gemini/images/bullet.png");
}

#search #searchBox {
	width:220px;
}