@CHARSET "UTF-8";


.twtr-hd h3, .twtr-hd h4 {
	color: #ffffff;
}

.twtr-hd h3 {
	border: 0px;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
	text-align: center;
	width: 215px;
}

.award {
	margin-top: -20px;
	margin-left: auto;
    margin-right: auto;
    width: 144px;
}

#leftnav li.about {
	list-style-image: url("/gemini/management/images/bullet.png");
	margin-left: 30px;
    padding: 0;
}

#novaContent.faux  {
	background: url("/gemini/management/images/faux.png") repeat-y scroll 0 0 #FFFFFF;
}

h1, h2, h3, h4 {
	color: #002E62;
}	

#leftnav li.about a, a {
	color: #002E62;
}

#leftnav li.about a:hover, a:hover {
	color: #0093CF;
	text-decoration: none;
}

#incubation {
	margin-left: auto;
    margin-right: auto;
    width: 98px;
}

#search #searchBox {
	width:220px;
}

#novaContent li {
	list-style-image: url("/gemini/management/images/bullet.png");
}

.toggle {
	cursor: pointer;
	color: #002E62;
}

.toggle:hover {
	color: #0093CF;
}